.wrapper{
    padding: 50px 5%;
    color: #454545;
    font-size: 18px;
}
.bg-default{
    background: #5FC8C2 !important;
}
.color-default{
    color: #5FC8C2 !important;
}

.title{
    font-size: 2rem;
    border-bottom: 1px solid #5FC8C2;
}
.no-border{
    border: 0 !important;
}

.content-2{
    background: rgb(255, 255, 255);
    padding: 20px;
}