.banner{
    position: relative;
    margin-bottom: 80px;
}
.tour_time{
    position: absolute;
    bottom: -25px;
    width: 100%;
}
.box-center{
    width: 360px;
    margin: 0 auto;
    height: 50px;
    background: white;
    line-height: 50px;
    font-size: 20px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.box-center:before, .box-center:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.tour_driver{
    font-size: 13px;
}

.my_tour{
    padding-left: 5%;
    padding-right: 5%;
}
.my_tour .title{
    font-size: 20px;
    padding-left: 5px;
    font-weight: bold;
}

.border-left-5{
    border-left: 5px solid black ;
    margin-bottom: 50px;
}
.title p{
    margin: 0;
    line-height: 20px;
    letter-spacing: 5px;
}
.my_tour .title span{
    display: block;
    margin: 0;
    font-size: 7px;
}
.my_tour .left{
    margin-bottom: 50px;
}

.my_tour{
    position: relative;
    margin-bottom: 100px;
}



.bg-orange {
    background-color: #ff851b !important;
}
.text-orange {
    color: #ff851b !important;
}
.my_tour .right .content{
    text-align: justify;
    margin-top: 20px;
}
.my_tour .right a.btn{
    margin-top: 20px;
}
.day {
    position: relative;
}
.time_line{
    position: absolute;
    top: 0;
    right: 0;
}

.time_line .content{
    margin: 0 auto;
    width: 95%;
    text-align: justify;
}

@media (min-width: 992px) {
    .my_tour .left{
        max-width: 52.5%;
        flex: 0 0 52.5%;
        padding-right:15px;
        margin: 0;
    }
    .my_tour .left .image{
        width: 56%;
        position: absolute;
        bottom: 0;
        left: 40%;
    }
    .my_tour .right{
        max-width: 47.5%;
        flex: 0 0 47.5%;
        padding-left: 15px;
        border-left: 1px solid black;
    }

    .time_line{
        width: 50%;
        margin-top: 5%;
    }

    .time_line .content-day{
        margin: 0 auto;
        width: 70%;
        text-align: justify;
    }
}
.no-padding{
    padding: 0 !important;
}
.note{
    width: 905px;
    margin: 70px auto;
}

#page_template{
    padding-left: 5%;
    padding-right: 5%;
}

#page_template .why{
    text-align: justify;
    font-size: 25px;

}


#page_template .title{
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}

.title-why{
    font-size: 25px;
    color: #d75211;
}

.title-o-1{
    font-size: 16px;
    font-weight: bold;

}